PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/client_archiver
BASE_URL=http://localhost:5000
UPLOAD_TEMP_DIR=D:\client-documents\temp
UPLOAD_ARCHIVE_DIR=D:\client-documents\archives
MAX_FILES=30
MAX_FILE_SIZE_MB=50
PDF_OPTIMIZE=true
PDF_GS_PATH="C:\Program Files\gs\gs10.06.0\bin\gswin64c.exe"
PDF_GS_PRESET=screen
PDF_GS_COLOR_DPI=92
PDF_GS_GRAY_DPI=92
PDF_GS_MONO_DPI=300